.clet-otp-input {
  display: flex;
  gap: 8px;
}

.clet-otp-input__slot {
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  appearance: textfield;
}

.clet-otp-input__slot::-webkit-outer-spin-button,
.clet-otp-input__slot::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.clet-otp-input--disabled {
  opacity: 0.6;
}
