.gsl-app-layout {
  --gsl-app-layout-gap: 1rem;
  --gsl-app-layout-body-gap: var(--gsl-app-layout-gap, 1rem);
  --gsl-panel-bg: var(--gsl-surface-subtle);
  --gsl-panel-radius: var(--gsl-radius-2xl);

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  background: var(--gsl-page-bg);
  font-family: var(--gsl-font);
  height: 100vh;
  overflow: hidden;
}

.gsl-app-layout__breadcrumb {
  flex-shrink: 0;
  padding: 0 var(--gsl-app-layout-body-gap);
}

.gsl-app-layout__content {
  background: var(--gsl-panel-bg);
  border-radius: var(--gsl-panel-radius);
  padding: var(--gsl-app-layout-body-gap);
  box-sizing: border-box;
  flex: 1;
}

.gsl-app-layout__body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gsl-app-layout-body-gap);
  flex: 1;

  border-radius: var(--gsl-panel-radius);
  overflow: hidden auto;
  scrollbar-width: none;

  padding: var(--gsl-app-layout-gap, 1rem);
  --gsl-scroll-fade: 1;
  --gsl-scroll-fade-height: calc(var(--gsl-app-layout-body-gap) * 3);
  --gsl-scroll-fade-width: 100%;
}

.gsl-app-layout__body::before,
.gsl-app-layout__body::after {
  content: "";
  position: fixed;
  display: block;
  width: var(--gsl-scroll-fade-width);
  pointer-events: none;
  z-index: 1;
  flex-shrink: 0;
  left: 0;
  right: 0;
  opacity: calc(var(--gsl-scroll-fade) * 1);
}

.gsl-app-layout__body::before {
  top: 0;
  height: var(--gsl-scroll-fade-top-height, var(--gsl-scroll-fade-height));
  background: linear-gradient(to bottom, var(--gsl-page-bg), transparent);
}

.gsl-app-layout__body::after {
  bottom: 0;
  height: var(--gsl-scroll-fade-height);
  background: linear-gradient(to top, var(--gsl-page-bg), transparent);
}

.gsl-app-layout__body::-webkit-scrollbar {
  display: none;
}

.gsl-app-layout__sidebar {
  flex-shrink: 0;
  position: relative;
  z-index: 2;
  width: max-content;
  height: 100%;

  padding: var(--gsl-app-layout-gap, 1rem);
  padding-right: 0;
}


