.gsl-theme {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--gsl-page-bg);
}

:root,
.gsl-theme {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --gsl-font:
    -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue",
    arial, sans-serif;
  --gsl-radius-base: 8px;
  --gsl-radius-xl: 16px;
  --gsl-radius-2xl: 24px;
  --gsl-shadow-sm:
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  --gsl-shadow-md: 0 10px 24px rgb(60 64 67 / 12%);
  --gsl-shadow-lg: 0 20px 40px rgb(60 64 67 / 18%);
  --gsl-z-header: 10;
  --gsl-z-popover: 1000;
  --gsl-z-overlay: 1100;
  --gsl-z-modal: 1101;
  --gsl-z-select: 1400;
  --gsl-z-alert: 1200;
  --gsl-z-alert-content: 1201;
  --gsl-z-dropdown: 1300;
  --gsl-surface-card: var(--gsl-bg);
}
